

section#content-wrapper {
	height:100%;
}




.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
	display: block;
	max-width: 80%;
	height: auto;
}

.thumbnail {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}

.thumbnail>img,
.thumbnail a>img {
	margin-right: auto;
	margin-left: 10%;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
	border-color: #337ab7;
}

.thumbnail .caption {
	padding: 9px;
	color: #333;
}

.thumbnail {
	position: relative;
	border: none;
	padding: 0;
	margin: 5px 0;
	border: 1px solid #d9d9d9 !important;
	border-radius: 0px;
	overflow: hidden;
}

.thumbnail img {
	float: right;
}

.category-banner .thumbnail img {
	float: left;
}

.container-fluid,
.category-list {
	background-color: #fafafa;
	padding-bottom: 15px;
}

.category-list .row {
	padding: 5px;
	max-width: 1020px;
	margin: 0 auto;
}

.category-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.category-list .col-xs-6,
.category-list .col-sm-4,
.category-list .col-md-3,
.category-list .col-lg-3 {
	padding-left: 5px;
	padding-right: 5px;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:before,
.btn-group-vertical>.btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
	display: table;
	content: " ";
}

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
	clear: both;
}

.category-list .row {
	padding: 5px;
	/* max-width: 1020px; */
	max-width: 930px;
	margin: 0 auto;
}

body {
	margin: 0;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

.table>tbody+tbody {
	border-top: 2px solid #ddd;
}

.media,
.media-body {
	overflow: hidden;
	zoom: 1;
}

.media-body {
	width: 10000px;
}

.media-left,
.media-right,
.media-body {
	display: table-cell;
	vertical-align: top;
}

.panel-body {
	padding: 15px;
}

.panel>.panel-body+.table,
.panel>.panel-body+.table-responsive,
.panel>.table+.panel-body,
.panel>.table-responsive+.panel-body {
	border-top: 1px solid #ddd;
}

.panel-group .panel-footer+.panel-collapse .panel-body {
	border-bottom: 1px solid #ddd;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ddd;
}

.panel-default>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #ddd;
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #337ab7;
}

.panel-primary>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #337ab7;
}

.panel-success>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #d6e9c6;
}

.panel-success>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #d6e9c6;
}

.panel-info>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #bce8f1;
}

.panel-info>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #bce8f1;
}

.panel-warning>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #faebcc;
}

.panel-warning>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #faebcc;
}

.panel-danger>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ebccd1;
}

.panel-danger>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #ebccd1;
}

.modal-body {
	position: relative;
	padding: 15px;
}

html,
body {
	width: auto !important;
	min-width: 320px;
	letter-spacing: 0;
	font-family: '맑은고딕', malgun gothic, '돋움', Dotum, 'Apple SD Gothic Neo', Helvetica, sans-serif;
}

.menu-list .panel-body {
	padding: 0;
}

.modal-default .modal-body {
	padding: 12px 12px 0 12px;
}

.modal-subchoices .modal-body {
	padding: 0 0 10px 0;
}

.modal-body {
	overflow-x: hidden !important;
	padding: 0.5em;
}

.pwd-ch .modal-body {
	padding: 20px 15px 5px 15px;
	text-align: center;
}

.txt-msg1 .msg-body {
	padding: 15px 30px 0 30px;
	text-align: center;
}

.min_order_pop .modal-body {
	padding: 1em;
	font-size: 100%;
}

.duplicate_order_pop .modal-body,
.sold_out_pop .modal-body {
	height: 220px;
	padding: 0 1em;
	overflow: auto;
}

.contact-wrap .panel:last-child .panel-body {
	border-top: none;
}

.contact-wrap .panel-body {
	font-size: 16px;
	color: #666;
	padding: 18px 40px 14px 30px;
	background: #FAFAFA url(../image/ico-a.png) 10px 20px no-repeat;
	background-size: 13px 14px;
}

.contact-wrap .panel-body {
	padding: 28px 40px 24px 40px;
	background: #FAFAFA url(../image/ico-a.png) 15px 30px no-repeat;
	background-size: 13px 14px;
}

.payment-11st .panel-body {
	border: 1px solid #ddd;
	border-top: none;
	padding-top: 0;
	padding-bottom: 11px;
}

.check-set .panel-body {
	margin-top: 10px;
	margin-left: 10px;
	padding-bottom: 0;
}

body {
	-webkit-transition: all 0.375s ease;
	transition: all 00.375s ease;
}

.restaurant-image {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 99999;
	background-color: rgba(2, 2, 2, 0.8);
}

html,
body {
	padding: 0;
	margin: 0;
}

html.in_map body {
	width: 100%;
	height: 100%;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 768px) {

	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12 {
		float: left;
	}
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 10px;
}




.guide {
	max-width: 1000px;
	color: #989898;
	line-height: 1.5;
	margin: 0 auto;
	padding: 0 15px;
}
.guide p {
	padding: 0;
}
@media (min-width: 992px) {
	.guide {
		padding: 0;
	}
	.guide p {
		padding-left: 128px;
	}
}
.ranking-guide > p {
	max-width: 1020px;
	padding: 15px 10px 7px 10px;
	margin: 0 auto;
}
.ranking-guide .tooltip-inner,
.delivery-time-tooltip .tooltip-inner,
.disposable-menu-tooltip .tooltip-inner {
	width: 100%;
	max-width: 100%;
	background-color: #fff;
	border: 1px solid #999;
	color: #666;
	font-size: 12px;
	text-align: left;
	padding: 15px 17px;
	margin-top: -3px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.ranking-guide .tooltip.in,
.delivery-time-tooltip .tooltip.in,
.disposable-menu-tooltip .tooltip.in {
	opacity: 1;
}
.ranking-guide .tooltip.bottom .tooltip-arrow,
  .delivery-time-tooltip .tooltip.bottom .tooltip-arrow,
  .disposable-menu-tooltip .tooltip.bottom .tooltip-arrow {
      top: 3px;
      left: 50%;
      margin-top: -6px;
      margin-left: -6px;
      width: 12px;
      height: 6px;
      background: url(../image/ico_tooltip_arrow.png) no-repeat;
      background-size: 12px 6px;
      border-bottom-color: none;
  }
	.ranking-guide .tooltip-arrow,
  .delivery-time-tooltip .tooltip-arrow,
  .disposable-menu-tooltip .tooltip-arrow {
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: none;
  }
	.service-info .text {
    display: inline-block;
    vertical-align:middle;
  }
	.sold_out_pop .out-of-stock-list ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
	.csc em {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    padding-right: 10px;
  }
	.csc {
    height: 24px;
    color: #666;
    line-height: 24px;
    padding: 6px 0;
  }
	.csc strong {
    font-size: 22px;
    padding-right: 10px;
    vertical-align: top;
  }
	.csc span {
    font-size: 12px;
    vertical-align: top;
  }
	
	html, body {
		padding: 0;
		margin: 0;
}
html, body {
	width: auto !important;
	min-width: 320px;
	letter-spacing: 0;
	font-family:'맑은고딕', malgun gothic,'돋움',Dotum,'Apple SD Gothic Neo',Helvetica,sans-serif;
}
.list-inline > li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}
.nav > li {
	position: relative;
	display: block;
}
.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
}
.nav-tabs.nav-justified > li {
	float: none;
}
.category-title{
	position: absolute;
	top: 7%;
	left: 7%;
	color: #333;
	font-size: 110%;
	font-weight: bold;
}