@charset "UTF-8";
/* 로그인 페이지 css */

section#content .content-wrap{ margin: 10px; height: 800px; } 
/* .content-wrap{ margin: 10px; height: 800px; } */ 
section#content .login-container{width:500px; margin: 0 auto; }
/* .login-container{width:500px; margin: 0 auto; } */
.login-container .title { width:100%; margin-top:30px;}
.login-container ul {text-align: center; padding: 0; margin-top: 50px;}
/* .login-container li {list-style: none;} */
.login-container li {border: 1px solid #ccc; position:relative;}
/* .login-container li input {width: 98%; height: 30px;} */
.login-container li input {width: 98%; height: 30px; border: none;}
.login-container li span {color: #fa0050; font-size: 10px; padding: 5px 0 0 3px; position:relative; right:170px; display:none;}
.checkbox {position: relative; top:5px;}
.checkbox #saveId {position: absolute;  top:5px;}
.checkbox label {position: absolute; left:20px;}
.checkbox span {position: absolute; right: 5px;}
.checkbox span a { color: grey; text-decoration: none; font-size: small;}
.login-submit {text-align: center;}
.login-submit input { width: 500px; height:40px; margin-top: 40px;  background-color:#ccc; border:0; color:#fff;}
/* .login-submit input { width: 500px; height:40px; margin-top: 40px;  background-color:#fa0050; border:0; color:#fff; cursor:pointer;} */
.join-container {  width: 500px; height:400px; background-color: black; margin: 30px auto; text-align: center; }
.join-container a img {width:100%; height:100%;}