* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div {
  display: block;
}
html,body {
  width: auto im !important;
  min-width: 320px;
  letter-spacing: 0;
  font-family: '맑은고딕', malgun gothic,'돋움',Dotum,'Apple SD Gothic Neo',Helvetica,sans-serif;
}
html {
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
/* 메인헤더 */
.ver-pc {
  margin-top: 0;
}
.navigation {
  background-color: #fa0050;
}
#cart {
  float: right;
   margin-top: 5px;
  margin-right: 10px;
}
.pull-right {
  float: right !important;
}
* {
	margin: 0;
	padding: 0;
}

header {
	background-color: #fa0050;
	height: 80px;
	position: relative;
	padding: 10px 0 0 0;
}

.login_container #loginBtn {
	color:white;
	background: #fa0050;
	border: 1px solid #ea7266;
	position: absolute;
	width: 150px;
	height: 30px;
	top: 21px;
	right: 100px;
	/* right: 400px; */
	border-radius: 2px;
	cursor:pointer;
}
/* 관리자 로그인성공시 */
table#admin {
	color:white;
	position: absolute;
	width: 150px;
	height: 30px;
	top: 21px;
	right: 150px;
	
}
table#admin input {
	color:white;
	background: #fa0050;
	border: 1px solid #ea7266;
	cursor:pointer;
	width: 150px;
	height: 30px;
	border-radius: 2px;
}

/*일반회원 로그인성공시 */
table#login {
	color:white;
	position: absolute;
	width: 150px;
	height: 30px;
	top: 21px;
	right: 150px;
	
}
table#login input {
	color:white;
	background: #fa0050;
	border: 1px solid #ea7266;
	cursor:pointer;
	border-radius: 2px;
}
table#login input[name=basket] {
	color:white;
	position: absolute;
	top:0;
	width:60px; 
	height:50px;
	background:#ff8a00;
	border: 1px solid #ea7266;
	cursor:pointer;
	border-radius: 2px;
}


.header_container {
	display: flex;
	align-items: center;
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
}

.logo_container {
	display: block;
	margin: 5px 10px;
}

.logo_container a {
	font-size: 30px;
	font-weight: 500;
	text-decoration: none;
	text-align: center;
	color: rgba(0, 0, 0, 1);
	/* background: url(../img/logo.png) no-repeat; */
}

.footer_container {
	padding-top: 35px;
	padding-bottom: 35px;
	display: block;
	cursor: default;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(25, 25, 25, 1);
}

.footer_container .footA {
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.footer_container .footB {
	font-size: 15px;
}













.collapse.in {
  display: block;
  visibility: visible;
}
.category-menu {
  background: #fff;
  border-left: 1px solid #d9d9d9;
  margin-top: 6px;
  margin-right: 10px;
  position: absolute;
  z-index: 900;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.25);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.25);
}
@media (min-width: 992px) {
  .category-menu {
    position: relative;
    border-left: none;
    margin-top: 0;
    margin-right: 0;
  }
  .category-menu li:hover,
  .category-menu li:focus,
  .category-menu li.active {
    background-image: none;
    background-color: #333;
    color: #fff;
  }
  .category-menu li:nth-child(2),
  .category-menu li:nth-child(13),
  .category-menu li:nth-child(14) {
    width: 78px;
  }
  .category-menu li {
    float: left;
    width: 50%;
    text-align: left;
    list-style: none;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 5px 0 5px 10px;
    background-color: #fff;
    cursor: pointer;
  }
  .category-menu {
    background: #fff;
    border-left: 1px solid #d9d9d9;
    margin-top: 6px;
    margin-right: 10px;
    position: absolute;
    z-index: 900;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.25);
  }
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
.category-menu li:hover,
.category-menu li:focus,
.category-menu li.active {
  background-image: none;
  background-color: #333;
  color: #fff;
}
@media (min-width: 992px) {
  .ico-ct01,
  .ico-ct02,
  .ico-ct03,
  .ico-ct04,
  .ico-ct05,
  .ico-ct06,
  .ico-ct07,
  .ico-ct08,
  .ico-ct09,
  .ico-ct10,
  .ico-ct11,
  .ico-ct12,
  .ico-ct13 {
    display: none;
  }
  .sms {
    padding: 0;
    border-bottom: 1px solid #d9d9d9;
  }
  .restaurant-category-menu {
    float: none;
    width: 100%;
  }
  .category-menu {
    position: relative;
    border-left: none;
    margin-top: 0;
    margin-right: 0;
  }
  .category-menu ul {
    border-top:0;
  }
  .restaurant_list_wrap {
    padding-top: 0;
    margin:0 auto;
    max-width: 1020px;
  }
  .category-menu li {
    float: left;
    font-size: 13px;
    text-align: center;
    list-style: none;
    border-right: 0;
    border-bottom: 0;
    padding: 20px 0;
    background: url(../image/sprite-icon.png?v=697a196ca4245f1b5d2cafc094d0fe7d33d17777) no-repeat -999px 20px;
  }
  .category-menu li.menu-search {
    width: 0px;
  }
  .category-menu li:nth-child(2),
  .category-menu li:nth-child(13),
  .category-menu li:nth-child(14) {
    width: 78px;
  }
  .category-menu li:nth-child(3),
  .category-menu li:nth-child(4) {
    width: 88px;
  }
  .category-menu li:nth-child(5),
  .category-menu li:nth-child(8),
  .category-menu li:nth-child(11),
  .category-menu li:nth-child(12) {
    width: 53px;
  }
  .category-menu li:nth-child(6),
  .category-menu li:nth-child(10) {
    width: 83px;
  }
  .category-menu li:nth-child(7) {
    width: 65px;
  }
  .category-menu li:nth-child(9) {
    width: 92px;
  }
  .category-menu li:hover,
  .category-menu li:focus,
  .category-menu li.active {
    background-image: none;
    background-color: #333;
    color: #fff;
  }
  .category-menu li.main-search {
    position: absolute;
    top: 47px;
    left: 25px;
    width: 300px !important;
    z-index: 1000;
    border: 1px solid #d9d9d9 !important;
    padding: 5px;
    background: #fff;
  }
  .main-search .form-control {
    border: 1px solid #d9d9d9;
  }
  .list-option {
    float: none;
    margin: 0 auto;
    padding-left: 10px !important;
  }
  .list-option-inner {
    max-width: 490px;
  }
  .menu-search {
    display: block !important;
  }
  .category-btn {
    display: none !important;
  }
  #category .main-search.hide {
    display: none !important;
  }
}




@charset "UTF-8"; /* 기본 설정: 페이지 전체 */
* {
	margin: 0;
	padding: 0;
}

header {
	background-color: #fa0050;
	height: 80px;
	position: relative;
	padding: 10px 0 0 0;
}

.login_container #loginBtn {
	color:white;
	background: #fa0050;
	border: 1px solid #ea7266;
	position: absolute;
	width: 150px;
	height: 30px;
	top: 21px;
	right: 100px;
	/* right: 400px; */
	border-radius: 2px;
	cursor:pointer;
}
/* 관리자 로그인성공시 */
table#admin {
	color:white;
	position: absolute;
	width: 150px;
	height: 30px;
	top: 21px;
	right: 150px;
	
}
table#admin input {
	color:white;
	background: #fa0050;
	border: 1px solid #ea7266;
	cursor:pointer;
	width: 150px;
	height: 30px;
	border-radius: 2px;
}

/*일반회원 로그인성공시 */
table#login {
	color:white;
	position: absolute;
	width: 150px;
	height: 30px;
	top: 21px;
	right: 150px;
	
}
table#login input {
	color:white;
	background: #fa0050;
	border: 1px solid #ea7266;
	cursor:pointer;
	border-radius: 2px;
}
table#login input[name=basket] {
	color:white;
	position: absolute;
	top:0;
	width:60px; 
	height:50px;
	background:#ff8a00;
	border: 1px solid #ea7266;
	cursor:pointer;
	border-radius: 2px;
}


.header_container {
	display: flex;
	align-items: center;
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
}

.logo_container {
	display: block;
	margin: 5px 10px;
}

.logo_container a {
	font-size: 30px;
	font-weight: 500;
	text-decoration: none;
	text-align: center;
	color: rgba(0, 0, 0, 1);
	/* background: url(../img/logo.png) no-repeat; */
}

.footer_container {
	padding-top: 35px;
	padding-bottom: 35px;
	display: block;
	cursor: default;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(25, 25, 25, 1);
}

.footer_container .footA {
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.footer_container .footB {
	font-size: 15px;
}