/* 가게리스트 */

   

    .restaurant-list {
      overflow: hidden;
      max-width: 1020px;
      margin: 5% auto;
    }
    
     .col-sm-6 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
    
    .item-clearfix {
      position: relative;
      cursor: pointer;
      border: 1px solid #d9d9d9;
      background: #fff;
      padding: 0 8px;
      margin-bottom: 10px;
      height: 108px;
      box-sizing: border-box;
      
    }
    
    
/********************************************/
    @media (min-width: 768px) {
      .col-sm-6 {
        width: 50%;
      }
    }

    @media (min-width: 768px) {
      .col-sm-6 {
        float: left;
      }
    }
/********************************************/
   

  
    .item-clearfix table {
      height: 108px;
    }

    /* 사진 */
    .item-clearfix td#atd1 img {
      width: 70px;
      height: 70px;
      border: 1px solid #d9d9d9;
    }

    /* 가게이름 */
    td#atd2 .restaurants-info {
      padding-left: 10px;
    }

    .restaurants-info .restaurant-name {
      padding-top: 3px;
      font-size: 100%;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    
    .item-clearfix span.delivery-time {
		position: absolute;
		right:10px;
		bottom:12px;
		color: #999 !important;
		font-size: 12px !important;
	}
    

    /* 가게주소,가격 */
    /* .restaurant-list ul {
      border-top: none;
      margin-top: 0;
      padding-top: 0;
    }

    .restaurants-info ul {
      padding-top: 10px;
      padding-left: 0;
      margin-top: 5px;
      padding-left: 0;
    }
    .sold_out_pop .out-of-stock-list ul, li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .restaurants-info .min-price:before {
      padding: 0 5px;
      color: #d9d9d9;
      content: "￦";
    } */
    