@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
body{
color:  #333333;
font-size:15px;
font-family: 'Nanum Gothic', sans-serif;
}

/* 중앙정렬 */
.content-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tbl-review {
	border: 3px solid black;
	border-collapse: separate;	
}

 .tbl-review th, .tbl-review td{
    border: 1px solid black;
    padding: 10px;
}

#reviewh2 {
	text-align: center;
	margin-top: 20px;
}

#review-add-btn {
	margin-bottom: 10px;
}