@charset "UTF-8";

.conA {
	height: 400px;
}

.slide {
	position: absolute;
	height: 400px;
	width: 100%;
	background-position: center;
	background-size: cover;
}

.img1 {
	background-image: url(../img/main1.jpg);
	animation: slide_img_1 15s infinite;
}

.img2 {
	background-image: url(../img/main2.jpg);
	animation: slide_img_2 15s infinite;
}

.img3 {
	background-image: url(../img/main3.jpg);
	animation: slide_img_3 15s infinite;
}

.conB {
	padding-top: 100px;
	padding-bottom: 150px;
	background-color: rgba(242, 242, 242, 1);
}

.conB_title {
	font-size: 50px;
	text-align: center;
	margin-bottom: 70px;
}

.conB_container {
	display: flex;
	justify-content: center;
}

.conB_small_container {
	margin-left: 70px;
	margin-right: 70px;
	transition: 0.1s linear;
}

.conB_small_container:hover {
	transform: scale(1.2);
}

.conB_small_container .conB_icon {
	text-align: center;
	margin-bottom: 30px;
}

.conB_small_container .icon {
	display: inline-block;
	font-size: 40px;
	width: 100px;
	line-height: 100px;
	border-radius: 50%;
	background-color: rgba(77, 165, 124, 1);
	color: rgba(255, 255, 255, 1);
}

.conB_small_container h3 {
	font-size: 25px;
	margin-bottom: 10px;
}

.conB_small_container p {
	font-size: 15px;
}

.footer-menu {
	background: #FBFBFB;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

.footer-menu ul {
	max-width: 1020px;
	margin: 0 auto;
	padding-left: 0;
	overflow: hidden;
}

.footer-menu li {
	float: left;
	list-style: none;
	padding: 15px 0 13px 0;
}

.footer-menu li:after {
	float: right;
	display: block;
	content: "|";
	color: #d9d9d9;
}

.footer-menu li.fr {
	float: right;
}

.footer-menu li.fr:after {
	content: "";
}

.footer-menu li:first-child a {
	padding-left: 10px;
}

.footer-menu li:last-child:after {
	content: "";
}

.footer-menu li.notice:after {
	content: "";
}

.footer-menu li.down_app {
	padding-left: 10px;
	margin-left: -3px;
}

.footer-menu li.notice:before {
	float: left;
	display: block;
	content: "";
	color: #d9d9d9;
}

.footer-menu li a {
	display: inline-block;
	color: #818181;
	padding: 0 20px;
	text-decoration: none;
}

.footer-menu li.privacy-txt a {
	color: #5f5f5f;
	font-weight: bold;
	letter-spacing: -1px;
}

.footer-menu li.sns-link {
	float: right
}

.footer-menu li.sns-link a {
	line-height: 16px;
	margin-left: 32px;
	padding: 0;
}

.footer-menu li.sns-link a span {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: -1px 5px 0 0;
	vertical-align: middle;
}

.footer-menu ul {
	text-align: center;
}

.footer-menu li {
	display: none;
}

.footer-menu li a {
	padding: 0 10px 0 7px;
}

.footer-menu li.mb {
	display: inline-block;
	float: none;
}

.csc {
	height: 24px;
	color: #666;
	line-height: 24px;
	padding: 6px 0;
}

.csc em {
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	padding-right: 10px;
}

.csc strong {
	font-size: 22px;
	padding-right: 10px;
	vertical-align: top;
}

.csc span {
	font-size: 12px;
	vertical-align: top;
}

.footer-terms {
	text-align: center;
	padding: 10px 0;
}

.footer-terms a {
	color: #666;
	letter-spacing: -1px;
}

.footer-terms a strong {
	color: #000;
	font-size: 12px;
	font-weight: normal;
}

.footer-terms a span {
	color: #9d9d9d;
}

.service-info {
	max-width: 1020px;
	padding-left: 138px;
	margin: 30px auto;
	overflow: auto;
}

.service-info div {
	float: left;
	margin-right: 30px;
}

.service-info .text {
	display: inline-block;
	vertical-align: middle;
}

.service-info .img {
	display: inline-block;
	width: 38px;
	height: 38px;
	margin: 0 10px 0 0;
	vertical-align: middle;
}

.guide {
	max-width: 1000px;
	color: #989898;
	line-height: 1.5;
	margin: 0 auto;
	padding: 0 15px;
}

.guide p {
	padding: 0;
}

.logo {
	background: url(./image/logo.png) no-repeat;
	background-size: 72px;
	width: 72px;
	height: 30px;
	text-indent: -9999em;
	overflow: hidden;
	margin: 15px 10px;
	cursor: pointer;
}

.thumbnail {
	position: relative;
	border: none;
	padding: 0;
	margin: 5px 0;
	border: 1px solid #d9d9d9 !important;
	border-radius: 0px;
	overflow: hidden;
}

.thumbnail img {
	float: right;
}

.thumbnail>img, .thumbnail a > img, .carousel-inner>.item>img,
	.carousel-inner>.item>a>img {
	display: block;
	max-width: 100%;
	height: auto;
}

.img-thumbnail {
	display: inline-block;
	max-width: 100%;
	height: auto;
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.thumbnail {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}

.thumbnail>img, .thumbnail a>img {
	margin-right: auto;
	margin-left: 10%;
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
	border-color: #337ab7;
}

.thumbnail .caption {
	padding: 9px;
	color: #333;
}
  .thumbnail {
    position: relative;
    border: none;
    padding: 0;
    margin: 5px 0;
    border: 1px solid #d9d9d9 !important;
    border-radius: 0px;
    overflow: hidden;
  }