@charset "UTF-8"; /* 기본 설정: 페이지 전체 */
* {
	margin: 0;
	padding: 0;
}

header {
	background-color: #fa0050;
	height: 80px;
	position: relative;
	padding: 10px 0 0 0;
}

header #loginBtn {
	background: #fa0050;
	border: 1px solid #ea7266;
	position: absolute;
	width: 150px;
	height: 30px;
	top: 21px;
	right: 100px;
	border-radius: 2px;
}

.header_container {
	display: flex;
	align-items: center;
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
}

.logo_container {
	display: block;
	margin: 5px 10px;
}

.logo_container a {
	font-size: 30px;
	font-weight: 500;
	text-decoration: none;
	text-align: center;
	color: rgba(0, 0, 0, 1);
	background: url(../image/logo.png) no-repeat;
}

.footer_container {
	padding-top: 35px;
	padding-bottom: 35px;
	display: block;
	cursor: default;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(25, 25, 25, 1);
}

.footer_container .footA {
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.footer_container .footB {
	font-size: 15px;
}